* {
  /* user-select: none; */
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'Lemon Tuesday';
  src: url('/client/assets/fonts/LemonTuesday.otf') format('opentype');
}

@font-face {
  font-family: 'Rockville Solid';
  src: url('/client/assets/fonts/Rockville_Solid.woff') format('woff');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-info: 500 14px/14px sans-serif;
  --font-time-sorting: 500 17px/16px sans-serif;
  --font-headers: 500 49px/49px 'Rockville Solid', 'Lemon Tuesday', sans-serif;
  --svg-nav-color: rgb(199, 199, 199);
  --backgroundMenu: rgba(43, 44, 46, 0.95);
  --backdrop-filter: blur(25px);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #121212; */
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.main-container {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: white;
}

h1 {
  padding-left: 20px;
  font: var(--font-headers);
}

.data-container {
  animation: fadeIn 0.2s linear;
}

/* TIME SORT  ================================== */
.time-sorting {
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  background: rgba(38, 38, 38, 0.8);

  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);

  justify-content: space-evenly;
  white-space: nowrap;
  margin-bottom: 15px;
}

.time-sorting > a {
  color: rgb(154, 156, 162, 0.9);
  padding: 10px 18px;
  text-decoration: none;
  margin: 3.5px 0;
  font: var(--font-time-sorting);
}

.time-sorting > a.active {
  color: rgb(255, 255, 255);
  background-color: rgb(86, 86, 86);
  border-radius: 18px;
  margin: 3.5px 0;
}

/* NOT FOUND  ================================== */

.notfound-alert {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 30%;
  background-color: #a9a9a9;
  top: 25%;
  left: 10%;
  transform: scale(1);
  transition: transform 0.2s linear;
}
.notfound-alert.hide {
  transform: scale(0);
}

.notfound-alert > #count-down {
  font: var(--font-ptag);
}

@media (orientation: landscape) {
  .media-section {
    margin: 0 10%;
    transition: all 0.4s ease-in-out;
  }
  .active-nav {
    height: 0;
    transition: height 0.4s ease-in-out;
  }
  .time-sorting {
    margin: 0 200px;
    margin-bottom: 5px;
    transition: all 0.4s ease-in-out;
  }
  .data-container {
    width: 70%;
    transition: all 0.4s ease-in-out;
  }
}
@media (orientation: portrait) {
  .media-section {
    margin: 0 5px;
    transition: all 0.4s ease-in-out;
  }
  .time-sorting {
    margin: 0 10px;
    margin-bottom: 5px;
    transition: width 0.4s ease-in-out;
  }
  .active-nav {
    height: 70px;
    transition: height 0.4s ease-in-out;
  }
  .data-container {
    width: 100%;
    transition: all 0.4s ease-in-out;
  }
}

/* .scaleToShow {
    transform: scale(1);
} */

/* ====================== LOADING ANIMATION =======================*/

.on-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.748);

  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);

  margin: 0;
  padding: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.on-loading li {
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  animation: grow 1.6s ease-in-out infinite;
}
@keyframes grow {
  0%,
  40%,
  100% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(1);
  }
}

.on-loading li:nth-child(1) {
  animation-delay: -1.4s;
  background: #ffff00;
  box-shadow: 0 0 50px #ffff00;
}
.on-loading li:nth-child(2) {
  animation-delay: -1.2s;
  background: #76ff03;
  box-shadow: 0 0 50px #76ff03;
}
.on-loading li:nth-child(3) {
  animation-delay: -1s;
  background: #f06292;
  box-shadow: 0 0 50px #f06292;
}
.on-loading li:nth-child(4) {
  animation-delay: -0.8s;
  background: #4fc3f7;
  box-shadow: 0 0 50px #4fc3f7;
}
.on-loading li:nth-child(5) {
  animation-delay: -0.6s;
  background: #ba68c8;
  box-shadow: 0 0 50px #ba68c8;
}
.on-loading li:nth-child(6) {
  animation-delay: -0.4s;
  background: #f57c00;
  box-shadow: 0 0 50px #f57c00;
}
.on-loading li:nth-child(7) {
  animation-delay: -0.2s;
  background: #673ab7;
  box-shadow: 0 0 50px #673ab7;
}

/* ------------------ Search section  ------------------*/

.group-search {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.group-search > input {
  width: 100%;
  max-width: 500px;
  padding: 14px;
  font-size: 15px;
  margin: 0 20px;
  outline: none;

  background-color: hsl(231, 14%, 10%);

  border: 2px solid #2b2c37;
  border-radius: 10px;
  color: #fff;
}

.group-search > input::placeholder {
  color: #727884;
}

.group-search > input:focus {
  border: 2px solid rgb(87, 148, 246);
  box-shadow: 0 0 120px hsla(217, 100%, 50%, 0.7);
}

.group-search > input::placeholder {
  color: #727884;
}

.search-result {
  max-height: 210px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.search-result > a,
.search-result > li {
  max-width: 500px;
  text-decoration: none;
  list-style: none;
  width: 80%;
  background: #6b6b6b4e;
  border-radius: 5px;
  margin: 0;
  padding: 10px 20px;
  border: solid 2px rgba(0, 0, 0, 0.206);
}

.search-result > a > span:nth-child(1),
.search-result > li > span:nth-child(1) {
  padding-left: 10px;
  color: #ffffff;
}
.search-result > a > span:nth-child(2),
.search-result > li > span:nth-child(2) {
  padding-right: 10px;
  float: right;
  color: rgb(179, 179, 179);
}

/* ------------------ END Search section  ------------------*/

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .inactive {
  display: none;
} */
