:root {
  --svg-nav-color: rgb(199, 199, 199);
  --backdrop-filter: blur(25px);
}

.navbar-class {
  position: fixed; /* Fix boucing for navbar*/
  bottom: 0;
  width: 100%;
}

.active-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
  margin: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));

  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
}

.active-nav > li {
  padding: 14px;
  margin: 0 4px;
  list-style-type: none;
}

.svg-nav-icon {
  width: 24px;
  cursor: pointer;
  fill: var(--svg-nav-color);
  stroke: var(--svg-nav-color);
  transition:
    transform 0.3s ease,
    fill 0.3s ease,
    stroke 0.3s ease; /* Add transitions */
}

.svg-nav-icon.active {
  fill: rgb(53, 132, 246);
  stroke: rgb(53, 132, 246);
  transform: scale(1.2); /* Grow the icon */
}
