.main-container {
  color: #fff;
  margin: 0 10px;
  padding-bottom: 70px;
}

.main-container > div {
  margin-bottom: 30px;
}

#add-to-album {
  position: absolute;
  right: 40px;
  top: 50px;
  /* margin: 20px 20px 0 0; */
}

#add-to-album > svg {
  stroke-width: 0.2px;
}

h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 > a {
  color: rgb(53, 89, 250);
  text-decoration: none;
  font-weight: normal;
  font-size: 17px;
  max-width: fit-content;
}

.atag-group-views {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

/* ------------------ Albums section  ------------------*/

.data-container.album > a > img {
  width: 150px;
  height: 150px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 15px;
}

/* ------------------ Collections section  ------------------*/
.album-section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.data-container {
  position: relative;
  max-height: 100%;
  border-radius: 15px;
}

.data-container > a > img {
  width: 112px;
  height: 200px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 15px;
}

/* .data-container > a > img:hover {
  scale: 1.1;
  transition: all 0.5s ease-out;
} */

.data-container > div {
  position: relative;
  text-shadow: 0 1px 5px #000000;
  display: block;
  width: 100%;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-size: 15px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  white-space: nowrap;
  width: 80%;
  height: auto;
  overflow: hidden;
}

.count-text {
  position: absolute;
  color: rgb(240, 240, 240);
  font-size: 12px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

/* ------------------ Object Key Type section  ------------------*/
.object-section {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.object-section > a {
  position: relative;
  max-height: 100%;
  border-radius: 39px;
}

.object-section > a > img {
  width: 200px;
  height: 100px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 15px;
}

.object-text {
  position: absolute;
  text-align: center;
  width: 100%;
  font:
    400 14px/14px 'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  color: rgb(255, 255, 255);
  padding: 20px 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

/* ------------------ Ultilities Section  ------------------*/
.location-section {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.location-section > a {
  display: block;
  position: relative;
  max-height: 100%;
  border-radius: 15px;
}

.location-section > a > img {
  width: 200px;
  height: 200px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 15px;
}

.location-section > a > div {
  /* position: absolute; */
  /* top: 0; */
  font-size: 15px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

/* ------------------ Ultilities Section  ------------------*/

.media-section > a {
  display: flex;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  justify-content: space-between;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 1px solid rgba(125, 125, 125, 0.33);
}

.media-section > a:last-child {
  border: none;
}

.media-section > a:hover {
  background-color: rgb(27, 27, 27);
  border-radius: 10px;
}

.media-section > a > .label {
  color: rgb(53, 89, 250);
}

.media-section > a > .info {
  color: rgb(205, 205, 205);
  right: 10%;
}

.media-section > div > a {
  color: aqua;
  text-decoration: none;
}
